
@media (max-width: 640px) {
  body {
    font-family: 'Wolves', sans-serif;
    width: 100%;
  }

  header {
    max-width: 100%;
    padding: 0 16px;
    flex-direction: column;
    margin-top: 24px;
  }

  .logo {
    font-size: 1.25rem;
    margin-bottom: 16px;
  }

  .menu {
    flex-direction: column;
    gap: 24px;
    width: 100%;
    text-align: center;
  }

  .navigation-icon {
    display: block;
    font-size: 1.5rem;
  }

  .home {
    flex-direction: column;
    min-height: 80vh;
    padding: 16px;
  }

  .profile {
    flex-direction: column;
    text-align: center;
    gap: 24px;
  }

  .profile__foto {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
  }

  .profile__name {
    font-size: 2.5rem;
  }

  .profile__text {
    font-size: 1.25rem;
  }

  .sobre-mim {
    height: auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .section__tittle {
    font-size: 4.5rem;
  }

  .description__tittle {
    font-size: 2.5rem;
  }

  .description__text {
    font-size: 1.25rem;
    width: 100%;
  }

  .skills__tittle {
    font-size: 2.5rem;
  }

  .skills__container {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .skills__icon {
    width: 120px;
    height: 120px;
  }

  .skills__icon i {
    font-size: 2.5rem;
  }

  .skills__icon span {
    font-size: 1.25rem;
  }

  .contatos {
    height: auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .social-container {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .social {
    width: 48px;
    height: 48px;
    font-size: 1.5rem;
  }

  .link-container {
    align-items: center;
    text-align: center;
  }

  .link-container h3 {
    font-size: 1.25rem;
  }

  footer {
    font-size: 0.65rem;
    padding: 8px;
  }
}
