:root {
  --primary-color: rgb(0, 255, 0);
  --icon-color: rgb(0, 0, 0);
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  display: grid;
  grid-template-areas: 'content';
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  background-color: #000;
}

main {
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  grid-area: content;
  z-index: 777;
  max-width: 100%;
  width: 100%;
  place-self: start center;
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section {
  height: 100vh;
}

footer {
  height: 50px;
  width: 100%;
  background-color: #0005;
  grid-area: content;
  place-self: end center;
  display: grid;
  place-content: center;
  border-top: 2px solid white;
  font-size: 0.75rem;
  font-style: italic;
}

@media (max-width: 3000px) {
  .navigation-icon {
    visibility: hidden;
  }
}

/* Restante do código permanece o mesmo */

/* Bloco de código adicionado */
.home {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 1000px;
}

.profile__text {
  font-size: 2rem;
}

.section__tittle {
  font-size: 4.5rem;
}

.description__tittle,
.skills__tittle {
  font-size: 3.5rem;
}

.sobre-mim {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.skills__container {
  justify-content: center;
  text-align: center;
}

.projetos {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.card-container {
  display: flex;
  justify-content: center;
}

.card-container img {
  max-width: 100%;
  height: auto;
}

h2 {
  display: flex;
  justify-content: center;
}

.contatos {
  height: auto;
}

.social-container {
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
